/* Mozilla based browsers*/
::-moz-selection {
  background-color: #efefef;
  color: #e74c3c;
}

/* Works in Safari*/
::selection {
  background-color: #efefef;
  color: #e74c3c;
}

body {
  background-color: #efefef;
  color: #efefef;
  font-family: "Courier New", Courier, monospace;
  margin: 0 auto;
  width: 100%;
}

.container {
  padding-top: 2em;

  .group {
    padding-bottom: 2em;
  }

  .red {
    height: 15em;
    background-color: #e74c3c;
    border: 0.5em solid #c0392b;

      .content {
        padding-top: 0.1em;
        margin: 1em;

        h1 {
          font-size: 6em;
        }

      }
  }

  .green {
    height: 15em;
    background-color: #2ecc71;
    border: 0.5em solid #27ae60;

      .content {
        padding-top: 0.1em;
        margin: 1em;
      }
  }

  .col-md-12 {
    padding-top: 2em;
    .col-sm-4 {
      a {
        color: #efefef;

        &:hover {
          text-decoration: none;
          }
        }
      }


        .reaper {
          margin: 0 auto;
          width: 75%;
          height: 15em;
          padding-left: 2em;
          padding-right: 2em;
          background-image: url("img/reaper.jpg");
          background-size: cover;
          background-repeat: no-repeat;
          border: 0.5em solid #d35400;

          &:hover {
            font-weight: bold;
            background-image: none;
            background-color: #e67e22;
          }
        }

        .ghost {
          margin: 0 auto;
          width: 75%;
          height: 15em;
          padding-left: 2em;
          padding-right: 2em;
          background-image: url("img/ghost.jpg");
          background-size: cover;
          background-repeat: no-repeat;
          border: 0.5em solid #d35400;

          &:hover {
            background-image: none;
            background-color: #e67e22;
          }
        }

        .habanero {
          margin: 0 auto;
          width: 75%;
          height: 15em;
          padding-left: 2em;
          padding-right: 2em;
          background-image: url("img/habanero.jpg");
          background-size: cover;
          background-repeat: no-repeat;
          border: 0.5em solid #d35400;

          &:hover {
            background-image: none;
            background-color: #e67e22;
          }
        }


  }
}

.footer {
  position: absolute;
  left: 0; bottom: 0; right: 0;
    a{
      color: #000;

      &:hover{
        text-decoration: none;
        color: #000;

        .heart{
            color: #e74c3c;
          }
      }
    }
}

/* Media Queries */

@media only screen and (max-width: 1600px) {

}

@media only screen and (max-width: 1490px) {

}

@media only screen and (max-width: 1315px) {

}

@media only screen and (max-width: 1230px) {

}

@media only screen and (max-width: 1170px) {

}

@media only screen and (max-width: 1024px) /* iPad Landscape*/{


}


@media screen and (max-width: 966px) /* 7in Tablet Landscape*/{

}


@media only screen and (max-width: 768px) /* iPad */ {

}


@media screen and (max-width: 736px) /* iPhone 6 Plus landscape*/{


}

@media screen and (max-width: 705px) {

}

@media screen and (max-width: 667px) /* iPhone 6 landscape*/{

}

@media screen and (max-width: 660px) /* 7in Tablet*/{

}


@media screen and (max-width: 568px) /* iPhone 5 landscape*/{

}

@media screen and (max-width: 480px) {

}

@media screen and (max-width: 414px) /* iPhone 6 Plus */{

}


@media screen and (max-width: 375px) /* iPhone 6 */{

}


@media screen and (max-width: 320px) /* iPhone 5 */{


}
