@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900);
@import url(http://fonts.googleapis.com/css?family=Karla:400,700);

@mixin transition($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
  }
@mixin rotate( $degrees ) {
  -webkit-transform: rotate(#{$degrees}deg);
  -moz-transform: rotate(#{$degrees}deg);
  -ms-transform: rotate(#{$degrees}deg);
  -o-transform: rotate(#{$degrees}deg);
  transform: rotate(#{$degrees}deg);

  filter:  progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=-#{sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)});
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=-#{sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)})";
  zoom: 1;
}
@mixin bar-animation($time, $dimension) {
  visibility: hidden;
  @if $dimension == width {
    width: 0;
    -webkit-animation: animate-width;
    -moz-animation: animate-width;
    animation: animate-width;
  }
  @if $dimension == height {
    height: 0;
    -webkit-animation: animate-height;
    -moz-animation: animate-height;
    animation: animate-height;
  }
  animation-timing-function: cubic-bezier(.35,.95,.67,.99);
  -webkit-animation-timing-function: cubic-bezier(.35,.95,.67,.99);
  -moz-animation-timing-function: cubic-bezier(.35,.95,.67,.99);
  animation-duration: $time*2;
  -webkit-animation-duration: $time*2;
  -moz-animation-duration: $time*2;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

$background-color: #efefef;
$primary-color: rgba(255, 255, 255, 1);
$primary-hover: rgba(255, 255, 255, 0.9);
$dark-color: rgba(38, 38, 38, 1);
$dark-hover: rgba(38, 38, 38, 0.9);
$hidden: rgba(255, 255, 255, 0);
$red: rgba(239, 77, 70, 1);
$green: rgba(36, 122, 65, 1);
/**GRAPH**/
$default-delay: .2s;
$bars: 15;
$graph-height: 253px;

::selection {
  background-color: $dark-hover;
  color: $red;
}

::-moz-selection {
  background-color: $dark-hover;
  color: $red;
}

.hide {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

body {
  background-color: $background-color;
  font-family: 'Karla', sans-serif;
  font-weight: normal;
  -moz-osx-font-smoothing: grayscale;
}

a {
  &:after {
    text-decoration: none;
  }
  &:active {
    text-decoration: overline;
  }
}

#nav {
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 12;
  height: 60px;
  @include transition(background-color 300ms ease-out);
  .container {
    height: 100%;
    line-height: 60px;
    white-space: nowrap;
    a {
      color: $primary-color;
      padding: 10px;
      letter-spacing: 1px;
      @include transition(250ms ease);
      &:hover {
        color: $primary-hover;
        text-decoration: none;
        @include transition(250ms ease);
      }
    }
    li {
      display: inline;
      margin: 0 auto;
    }
    .logo {
      font-family: 'Playfair Display', serif;
      float: left;
      font-size: 24px;
      padding: 0px;
      margin-top: -4px;
      a {
        visibility: hidden;
        color: rgba(0, 0, 0, 0);
        @include transition(50ms ease-out);
      }
    }
    .links {
      float: right;
      vertical-align: middle;
      text-transform: uppercase;
      font-size: 14px;
    }
    .black-friday {
      background-color: $dark-color;
      font-style: italic;
      font-size: 18px;
      margin-left: 10px;
      margin-right: 0;
      &:hover {
        background-color: black;
        text-decoration: none;
      }
      &:active {
        text-decoration: none;
      }
      &:focus {
        background-color: black;
        text-decoration: none;
      }
    }
    #sale {
      background-color: none;
      font-size: 16px;
    }
  }
}
#nav.past-header {
    background-color: $red;
    @include box-shadow(0, 1px, 5px, rgba(0, 0, 0, 0.5));
    @include transition(background-color 300ms ease-out);
    .logo {
      a {
        visibility: visible;
        color: $primary-color;
        @include transition(50ms ease-out);
      }
    }
    .cd-modal-action .btn {
      display: table;
    }
  }


.jumbotron {
  background-image: url(http://getpeppers.com/img/wall.jpg);
  height: 75vh;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  .container {
    position: relative;
    top: 20%;
    text-align: center;
    h1 {
      color: $primary-color;
      font-family: 'Playfair Display', serif;
      font-size: 84px;
      padding-bottom: 10px;
    }
    h2 {
      color: $primary-color;
      font-size: 42px;
      line-height: 0.75;
    }
    .btn {
      color: $primary-color;
      border: 2px solid $primary-color;
      background-color: rgba(0, 0, 0, 0);
      border-radius: 5px;
      margin-top: 4em;
      padding: 1em;
      padding-left: 3em;
      padding-right: 3em;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 1.5px;
      @include transition(250ms ease);
      &:hover {
        background-color: $primary-color;
        color: $dark-color;
        @include transition(250ms ease);
      }
    }
    .black-friday-mobile {
      display: none;
      color: $primary-color;
      background-color: $dark-color;
      border: none;
      &:hover {
        color: $primary-color;
        background-color: #000;
        border: none;
      }
      &:active {
        color: $primary-color;
        background-color: $dark-color;
        border: none;
      }
      &:focus {
        color: $primary-color;
        background-color: #000;
        border: none;
      }
    }
  }
}

#about {
  padding-top: 4em;
  padding-bottom: 2em;
  .container {
    background-color: $primary-color;
    padding-top: 2em;
    padding-bottom: 2em;
    h1 {
      font-family: 'Playfair Display', serif;
      font-size: 48px;
      font-weight: 700;
      margin-top: 0;
      margin-bottom: 0.5em;
    }
    p {
      font-weight: normal;
      font-size: 18px;
      word-spacing: 1px;
      line-height: 200%;
    }
  }
}


#compare {
  opacity: 0;
  position: relative;
  height: 100%;
  margin: 0 auto;
  padding-top: 5%;
  padding-bottom: 0;
  @include transition(250ms ease);
  .wrapper {
    position: relative;
  }
  .header{
    position: relative;
    text-align: center;
    margin: 0 auto;
  }
  @-webkit-keyframes animate-width {
    0% {
      width: 0;
    }
    100% {
      visibility: visible;
    }
  }
  @-moz-keyframes animate-width {
    0% {
      width: 0;
    }
    100% {
      visibility: visible;
    }
  }
  @keyframes animate-width {
    0% {
      width: 0;
    }
    100% {
      visibility: visible;
    }
  }
  @-webkit-keyframes animate-height {
    0% {
      height: 0;
    }
    100% {
      visibility: visible;
    }
  }
  @-moz-keyframes animate-height {
    0% {
      height: 0;
    }
    100% {
      visibility: visible;
    }
  }
  @keyframes animate-height {
    0% {
      height: 0;
    }
    100% {
      visibility: visible;
    }
  }
  #bar-chart {
    height: 380px;
    width: 90%;
    position: relative;
    margin: 50px auto 0;
    * {
     box-sizing: border-box;
    }
    .unit {
      padding-left: 2px;
      font-size: 10px;
      font-weight: lighter;
    }
    .graph {
      height: 283px;
      position: relative;
    }
    .bars {
      height: $graph-height;
      padding: 0 2%;
      position: absolute;
      width: 100%;
      z-index: 10;
    }
    .bar-group {
      display: block;
      float: left;
      height: 100%;
      position: relative;
      width: 12%;
      margin-right: 5%;
      margin-left: 3%;
      h1 {
        font-family: 'Karla', sans-serif;
        font-weight: normal;
        font-size: 14px;
        padding-left: 20px;
      }
      &:last-child {
       margin-right: 0;
      }
      .bar {
        background-color: $red;
        bottom: 0;
        cursor: pointer;
        height: 0;
        position: absolute;
        text-align: center;
        width: 25%;
        &:nth-child(2) {
          left: 35%;
        }
        &:nth-child(3) {
          left: 70%;
        }
        span {
         display: none;
        }
      }
      @for $i from 1 through 15 {
        .bar-#{$i} {
          animation-delay: $default-delay+.1*$i;
          -webkit-animation-delay: $default-delay+.1*$i;
        }
      }
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    .x-axis {
      bottom: 0;
      left: 0%;
      position: absolute;
      text-align: center;
      width: 100%;
      li {
        position: absolute;
        bottom: -5px;
        text-align: left;
        display: inline;
        font-size: 10px;
        font-weight: bold;
      }
      #reaper {
        left: 3.5%;
      }
      #viper {
        left: 23%;
      }
      #ghost {
        left: 42.5%;
      }
      #habanero {
        left: 62%;
      }
      #jalepeno {
        left: 81%;
      }
    }
  }
}

.animation {
  @include bar-animation($default-delay, height);
}

#products {
  padding-top: 2em;
  padding-bottom: 2em;
  .container {
    background-color: $primary-color;
    padding-top: 2em;
    padding-bottom: 2em;
    h1 {
      font-family: 'Playfair Display', serif;
      font-size: 48px;
      font-weight: 700;
      margin-top: 0;
      margin-bottom: 0.5em;
    }
    p {
      font-weight: normal;
      font-size: 18px;
      word-spacing: 1px;
      line-height: 200%;
    }

    .item-container {
      width: 100%;
      text-align: center;
      .item {
        text-align: center;
        margin: auto;
        .img-container {
          border: 3px solid $dark-color;
          width: 250px;
          height: 250px;
          margin: auto;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .product {
          border: 3px solid $dark-color;
          border-top: none;
          width: 250px;
          margin: auto;
          padding: 10px;
          font-size: 18px;
          .sale {
            color: $red;
            font-style: italic;
            &:hover {
              color: $primary-color;
              background-color: $red;
            }
          }
          a {
            text-transform: uppercase;
            color: $dark-color;
            font-size: 14px;
            font-weight: 700;
            padding: 2px;
            &:hover {
              color: $primary-color;
              background-color: $dark-color;
              text-decoration: none;
            }
          }
        }
      }
    }

  }
}

#contact {
  padding-top: 2em;
  padding-bottom: 2em;
  .container {
    background-color: $primary-color;
    padding-top: 2em;
    padding-bottom: 2em;
    h1 {
      font-family: 'Playfair Display', serif;
      font-size: 48px;
      font-weight: 700;
      margin-top: 0;
      margin-bottom: 0.5em;
    }
    a {
      color: $dark-color;
      &:hover {
        color: $dark-hover;
        text-decoration: none;
      }
    }
    .contact-form {
      p {
        padding-top: 5px
      }
      input {
        border: 1px solid $dark-color;
        width: 100%;
        padding-left: 5px;
        margin-top: 2px;
      }
      textarea {
        border: 1px solid $dark-color;
        width: 75%;
        padding-left: 5px;
        margin-top: 2px;
        height: 147px;
        padding-bottom: none;
        margin-bottom: none;
      }
      #submit {
        border: 1px solid $dark-color;
        background-color: $primary-color;
        color: $dark-color;
        width: 100px;
        margin-top: none;
        margin-right: 25%;
        float: right;
        &:hover {
          font-weight: bold;
        }
      }
    }
  }
}

#footer {
  padding-top: 2em;
  padding-bottom: 2em;
  .container {
    text-align: center;
    p {
      font-weight: normal;
      font-size: 12px;
      padding-bottom: 1em;
      fill: $dark-color;
      @include transition(0.5s ease);
    }
    svg {
      margin: 0 auto;
      width: 100px;
      fill: $red;
      @include transition(0.5s ease);
    }
  }
}

/* Media Queries */
@media screen and (max-width: 992px){
  #contact {
    .container {
      .contact-form {
        input {
          width: 75%;
          padding-left: 0;
        }
        textarea {
          width: 75%;
        }
        #submit {
          width: 75%;
          margin: 0 auto;
          float: none;
        }
      }
    }
  }
}

@media screen and (max-width: 768px){
    #nav {
      display: none;
    }
    #nav.past-header {
      background-color: rgba(0, 0, 0, 0.5);
    }
    .jumbotron {
      height: 100vh;
      .container {
        h1 {
          font-size: 60px;
        }
        h2 {
          font-size: 40px;
        }
      }
    }

}

@media screen and (max-height: 992px){
    .jumbotron {
      height: 80vh;
      .container {
        top: 10%;
        height: 100%;
      }
    }
}

@media screen and (max-height: 600px){
    .jumbotron {
      height: 100vh;
      .container {
        top: 5%;
        height: 100%;
      }
    }
}

@media screen and (max-width: 512px){
    .jumbotron {
      height: 100vh;
      .container {
        top: 10%;
        h1 {
          font-size: 42px;
        }
        h2 {
          font-size: 22px;
        }
        .btn {
          margin-top: 3em;
          padding-left: 2em;
          padding-right: 2em;
        }
      }
    }
    #about {
      padding-top: 1em;
      padding-bottom: 1em;
      .container {
        padding-left: 0.1em;
        padding-left: 0.1em;
        padding-bottom: 0;
        width: 100%;
        margin: 0 auto;
        h1 {
          font-family: 'Playfair Display', serif;
          font-size: 36px;
          font-weight: 700;
          margin-top: 0;
          margin-bottom: 0.5em;
        }
        p {
          font-weight: normal;
          font-size: 14px;
          word-spacing: 1px;
          line-height: 150%;
        }
        #compare{
          width: 100%;
          margin-left: 0;
          margin-right: 0;
          #bar-chart {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
          }
        }
      }
    }
    #products {
      padding-top: 1em;
      padding-bottom: 1em;
      .container {
        padding-left: 0.1em;
        padding-left: 0.1em;
        width: 100%;
        margin: 0 auto;
        h1 {
          font-family: 'Playfair Display', serif;
          font-size: 36px;
          font-weight: 700;
          margin-top: 0;
          margin-bottom: 0.5em;
        }
        p {
          font-weight: normal;
          font-size: 14px;
          word-spacing: 1px;
          line-height: 150%;
        }
        .item-container {
          .item {
            margin-top: 1em;
          }
        }
      }
    }
    #contact {
      padding-top: 1em;
      padding-bottom: 1em;
      .container {
        width: 100%;
        padding-left: 0.1em;
        padding-left: 0.1em;
        text-align: left;
        h1 {
          font-family: 'Playfair Display', serif;
          font-size: 36px;
          font-weight: 700;
          margin-top: 0;
          margin-bottom: 0.5em;
        }
        p {
          font-weight: normal;
          font-size: 14px;
          word-spacing: 1px;
          line-height: 150%;
          padding: 0;
          margin: 0;
        }
        .contact-form {
          width: 100%;
          padding: 0;
          margin: 0;
          text-align: left;
          input {
            width: 100%;
            padding: 0;
            margin: 0;
          }
          textarea {
            width: 100%;
            padding: 0;
            margin: 0;
          }
          #submit {
            width: 100%;
            padding: 0;
            margin: 0;
          }
        }
      }
    }
}

@media screen and (max-width: 312px){
    .jumbotron {
      height: 100vh;
      .container {
        top: 20%;
        .btn {
          margin-top: 2em;
          padding-left: 1.5em;
          padding-right: 1.5em;
        }
      }
    }
    #compare {
      display: none;
    }
}
