/* Mozilla based browsers*/
::-moz-selection {
  background-color: #efefef;
  color: #e74c3c; }

/* Works in Safari*/
::selection {
  background-color: #efefef;
  color: #e74c3c; }

html {
  height: 100%;
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  background-color: #efefef;
  color: #efefef;
  font-family: "Courier New", Courier, monospace;
  width: 100%;
  min-height: 100%; }

.container {
  padding-top: 4em;
  margin: 0 auto;
  /* end of purchase */
  /* container media queries */ }
  .container .group {
    padding-bottom: 2em; }
  .container .red {
    background-color: #e74c3c;
    border: 0.5em solid #c0392b; }
    .container .red .content {
      padding-top: 0.1em;
      margin: 1em; }
      .container .red .content h1 {
        font-size: 6em; }
        .container .red .content h1 .responsive-break {
          display: none; }
      .container .red .content h2 {
        font-size: 3em; }
        .container .red .content h2 .responsive-break {
          display: none; }
  .container .green {
    background-color: #2ecc71;
    border: 0.5em solid #27ae60; }
    .container .green .content {
      padding-top: 0.1em;
      margin: 1em; }
  .container .purchase {
    padding-top: 2em; }
    .container .purchase .item {
      padding-left: 2em;
      padding-right: 2em; }
      .container .purchase .item a {
        color: #efefef; }
        .container .purchase .item a:hover {
          text-decoration: none; }
      .container .purchase .item h1 {
        font-size: 2em;
        padding-top: 0.25em;
        margin: 0.5em;
        font-weight: bold; }
    .container .purchase .reaper {
      margin: 0 auto;
      height: 20vh;
      background-image: url("img/reaper.jpg");
      background-size: 110%;
      background-position: center;
      background-repeat: no-repeat;
      box-shadow: 5px 5px 2px #888888; }
      .container .purchase .reaper:hover {
        background-size: 100%;
        background-position: center; }
      .container .purchase .reaper:active {
        text-decoration: none; }
    .container .purchase .ghost {
      margin: 0 auto;
      height: 20vh;
      background-image: url("img/ghost.jpg");
      background-size: 110%;
      background-position: center;
      background-repeat: no-repeat;
      box-shadow: 5px 5px 2px #888888; }
      .container .purchase .ghost:hover {
        background-size: 100%;
        background-position: center; }
      .container .purchase .ghost:active {
        text-decoration: none; }
    .container .purchase .habanero {
      margin: 0 auto;
      height: 20vh;
      background-image: url("img/habanero.jpg");
      background-size: 110%;
      background-position: center;
      background-repeat: no-repeat;
      box-shadow: 5px 5px 5px #888888; }
      .container .purchase .habanero:hover {
        background-size: 100%;
        background-position: center; }
      .container .purchase .habanero:active {
        text-decoration: none; }
  .container .modal .modal-dialog {
    width: 40%;
    height: 50%;
    overflow-x: hidden;
    overflow-y: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
  .container .modal .modal-content {
    background-color: #efefef;
    border-radius: 0;
    color: #000; }
    .container .modal .modal-content .modal-body .source {
      padding-bottom: 1em;
      font-size: 0.7em;
      position: relative;
      float: right; }
    .container .modal .modal-content .modal-body img {
      padding: 0.5em; }
    .container .modal .modal-content .modal-body a {
      color: #000; }
    .container .modal .modal-content .modal-footer li {
      display: inline;
      padding-left: 1em; }
  @media (max-width: 414px) {
    .container {
      padding-top: 1em; }
      .container .group {
        padding-bottom: 0.75em; }
      .container .red .content {
        padding-top: 0em; }
        .container .red .content h1 {
          font-size: 3em; }
          .container .red .content h1 .responsive-break {
            display: block; }
        .container .red .content h2 {
          font-size: 1em; }
          .container .red .content h2 .responsive-break {
            display: block; }
      .container .purchase .item {
        padding-left: 0.5em;
        padding-right: 0.5em;
        padding-top: 0.25em;
        padding-bottom: 0.25em; }
        .container .purchase .item h1 {
          font-size: 1em; } }

/* end of container */
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center; }
  .footer a {
    color: #000; }
    .footer a:hover {
      text-decoration: none;
      color: #000; }
      .footer a:hover .heart {
        color: #e74c3c; }

/*# sourceMappingURL=main.css.map */
