@import 'responsive';

@import url(http://fonts.googleapis.com/css?family=Arvo:400,700);
@import url(http://fonts.googleapis.com/css?family=Lato);

@mixin transition($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
  }

/* Mozilla based browsers*/
::-moz-selection {
  background-color: #efefef;
  color: #e74c3c;
}

/* Works in Safari*/
::selection {
  background-color: #efefef;
  color: #e74c3c;
}

input::-moz-focus-inner {
  border: 0;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 8em;
  background-color: #efefef;
  color: #efefef;
  font-family: 'Arvo', serif;
  width: 100%;
  min-height: 100%;
}

a {
  &:focus, a:active {
    outline: 0;
  }
}

.container {
  padding-top: 4em;
  margin: 0 auto;

  .group {
    padding-bottom: 2em;
  }


  .red {
    background-color: #e74c3c;
    border: 0.5em solid #c0392b;
    margin: 0 auto;
      .content {
        margin: 1em;
        h1 {
          font-size: 6rem;
          .responsive-break {
            display: none;
          }
        }
        h2 {
          font-size: 3rem;
          .responsive-break {
            display: none;
          }
        }
      }
  }

  .green {
    background-color: #2ecc71;
    border: 0.5em solid #27ae60;
    margin: 0 auto;
    .content {
      margin: 1em;
      h1 {
        font-size: 3rem;
      }
      p {
        font-size: 2rem;
        line-height: 1.4;
      }
    }
  }



  .purchase {
    padding-top: 1em;
    .item {
      padding: 1em;
      &:active {
        text-decoration: none;
        border: none;
      }
      a {
        color: #efefef;
        &:hover, &:active {
          text-decoration: none;
          }
        }

        h1 {
          margin-top: 0em;
          font-weight: bold;
          font-size: 3rem;
          line-height: 1.2;
          padding: 0.25em;
          padding-right: 0.5em;
          display: inline-block;
          background-color: rgba(0,0,0,0.5);
          @include transition(500ms ease);
        }
      }

        .pepper {
            margin: 0 auto;
            height: 25vh;
            background-color: #003200;
            background-size: 110%;
            background-repeat: no-repeat;
            box-shadow: 5px 5px 2px #888888;
            @include transition(1s ease);

            &:hover {
              background-size: 100%;
              @include transition(1s ease);
              h1 {
                @include transition(500ms ease);
                background-color: rgba(0,0,0,0.8);
              }
            }

            .image:hover > .overlay {
              width:100%;
              height:100%;
              position:absolute;
              background-color:#000;
              opacity:0.5;
              border-radius:30px;
            }

            &:active {
              text-decoration: none;
            }
        }

        .reaper {background-image: url("img/reaper.jpg");}
        .ghost {background-image: url("img/ghost.jpg");}
        .habanero {background-image: url("img/habanero.jpg");}
        .naga {background-image: url("img/naga.jpg");}

    }/* end of purchase */



.modal {
 .modal-dialog {
   width: 40%;
   height: 50%;
   overflow-x: hidden;
   overflow-y: auto;
   margin: auto;
   position: absolute;
   top: 0; left: 0; bottom: 0; right: 0;
 }
  .modal-content {
    font-family: 'Lato', sans-serif;
    background-color: #efefef;
    border-radius: 0;
    color: #000;
    .modal-body {
      .source{
        padding-bottom: 1em;
        font-size: 1rem;
        position: relative;
        float: right;
      }
      img {
        padding: 0.5em;
      }
      a {
        color: #000;
      }
    }
    .modal-footer {
      li {
        display: inline;
        padding-left: 1em;
      }
    }
   }
  }

  /* container media queries */
  @media (max-width: $iphone6) {
        padding-top: 1em;
        padding-left: 0;
        padding-right: 0;
        .group {
          padding-bottom: 0.75em;
        }

        .red {
          width: 90%;
          .content {
            padding-top: 0em;
            h1 {
              .responsive-break {
                display: block;
              }
            }
            h2 {
              .responsive-break {
                display: block;
              }
            }
          }
        }

        .green {
          width: 90%;
          .content {
            padding-top: 0em;
          }
        }

        .purchase {
          padding-top: 0em;
          .item {
            padding: 0.5em;
            .pepper {
              height: 25vh;
              background-position: center;
            }
             h1 {
               display: block;
               font-size: 1.5rem;
               line-height: 1.4;
             }
            }
          }

      }/* end of iphone6 query */

}/* end of container */



.footer {
  position: absolute;
  right: 0; bottom: 0; left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
    a{
      color: #000;
      &:hover, &:active, {
        text-decoration: none;
        color: #000;
        .heart{
            color: #e74c3c;
            @include transition(1s ease);
          }
      }
    }
}
