
// colors
$color-white: #FFFFFF;
$color-grey: #F0F0F0;
$color-black: #272727;
$color-red: #EF4F46;
$color-shadow: rgba(0, 0, 0, 0.2);
$color-none: rgba(0, 0, 0, 0);

// fonts
$font-mono: 'Inconsolata', ;
$font-sans: 'Open Sans', sans-serif;

// dimensions
$page-width: 1000px;
