.products {
	background: $color-white;
	box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.1);
	&__container {
		max-width: $max-width * 0.9;
		padding: 4em 2em;
		margin: 0 auto;
		@media screen and (max-width: $break-large) {
			padding: 4em 2em;
		}
		@media screen and (max-width: $break-mid) {
			padding: 2em;
		}
	}
	&__title {
		margin-bottom: 2em;
		text-align: center;
		h1 {
			display: inline-block;
			font-family: -apple-system-headline, BlinkMacSystemFont, Helvetica, sans-serif;
			font-size: 3em;
			margin-top: 0;
			@media screen and (max-width: $break-small) {
				font-size: 2em;
			}
		}
	}
	&__wrapper {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		overflow: hidden;
		margin-top: -2em;
		@media screen and (max-width: $break-mid) {
			padding: 0;
		}
	}
	&__item {
		flex: 1 1 150px;
		min-width: 150px;
		max-width: 250px;
		text-align: center;
		padding: 2em;
		margin: 2em;
		font-family: monospace;
		background: $color-grey;
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
		transition: all 0.3s cubic-bezier(.25,.8,.25,1);
		// card animation: https://codepen.io/sdthornton/pen/wBZdXq
		&:hover {
			box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
		}
		@media screen and (max-width: $break-mid) {
			padding: 1em;
			margin: 1em;
		}
		span {
			display: block;
		}
		&__img {
			width: 100%;
			height: auto;
		}
		&__name {
			margin: 1em 0 0.5em 0;
			font-weight: bold;
		}
	}
}
