@import './normalize';

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Open Sans' sans-serif;
	font-weight: lighter;
	color: $color-black;
	background: $color-white;
}
a {
	text-decoration: none;
	color: $color-black;
	&:hover {
		text-decoration: none;
		color: $color-black;
	}
	&:active {
		text-decoration: none;
		color: $color-black;
	}
}
