// Colors
$color-white: #FFF;
$color-black: #272727;
$color-grey: #FBFBFB;
$color-red: #FF0000;
$color-green: green;

// Dimensions
$header-height: 5em;
$max-width: 1080px;
$hero-gutter: 1em;

// Media Queries
$break-large: 1020px;
$break-mid: 746px;
$break-small: 388px;
