// Colors
$color-white: #FFF;
$color-black: #272727;
$color-grey: #F2F2F2;
$color-red: #FF0000;
$color-green: green;

// Dimensions
$header-height: 5em;
$footer-height: 10em;
$max-width: 1080px;

// Media Queries
$break-large: 1020px;
$break-mid: 746px;
$break-small: 388px;
