@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900);
@import url(http://fonts.googleapis.com/css?family=Karla:400,700);
::selection {
  background-color: rgba(38, 38, 38, 0.9);
  color: #ef4d46; }

::-moz-selection {
  background-color: rgba(38, 38, 38, 0.9);
  color: #ef4d46; }

html, body {
  height: 100%; }

body {
  background-color: #efefef;
  font-family: 'Karla', sans-serif;
  font-weight: normal; }

a:after {
  text-decoration: none; }
a:active {
  text-decoration: overline; }

#back {
  margin-top: 25px; }
  #back .container {
    text-align: center; }
    #back .container a {
      text-align: center;
      color: #262626;
      font-size: 12px; }

.wrapper .form {
  background-color: white;
  width: 50%;
  margin: 100px auto;
  margin-top: 50px;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px; }
  .wrapper .form h1 {
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    padding-bottom: 25px; }
  .wrapper .form b {
    font-size: 16px;
    padding-right: 5px;
    padding-bottom: 5px; }
  .wrapper .form .purchase {
    padding-top: 5px; }
    .wrapper .form .purchase #quantity {
      margin-top: 10px;
      padding-left: 2px;
      text-align: center; }
    .wrapper .form .purchase #quantity-container {
      padding-top: 10px; }
  .wrapper .form .info {
    padding-top: 20px; }
    .wrapper .form .info .contact-info {
      border: 1px solid #262626;
      background-color: white;
      color: #262626;
      width: 100%;
      margin-bottom: 10px; }
    .wrapper .form .info #submit {
      border: 1px solid #262626;
      background-color: white;
      color: #262626;
      font-size: 18px;
      height: 50px;
      width: 175px;
      text-transform: uppercase;
      margin-top: 25px;
      float: right; }
      .wrapper .form .info #submit:hover {
        font-weight: bold; }

#footer .container {
  text-align: center; }
  #footer .container p {
    font-weight: normal;
    font-size: 12px;
    padding-bottom: 1em;
    fill: #262626;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease; }
  #footer .container svg {
    margin: 0 auto;
    width: 50px;
    fill: #ef4d46;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease; }

/* Media Queries */
@media screen and (max-width: 1000px) {
  .wrapper .form {
    width: 50%; } }
@media screen and (max-width: 860px) {
  .wrapper .form {
    width: 65%;
    margin: 100px auto;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px; }
    .wrapper .form .row {
      padding-bottom: 10px; }
    .wrapper .form .submit-container {
      text-align: center; }
      .wrapper .form .submit-container #submit {
        position: relative;
        float: none;
        margin: 0 auto; } }
@media screen and (max-width: 720px) {
  .wrapper .form {
    width: 75%;
    padding-left: 25px;
    padding-right: 25px; } }
@media screen and (max-width: 432px) {
  .wrapper .form {
    margin: 25px auto;
    width: 90%;
    padding-left: 10px;
    padding-right: 10px; }
    .wrapper .form h1 {
      font-size: 36px; }
    .wrapper .form .submit-container #submit {
      width: 125px;
      height: 50px;
      font-size: 14px; } }

/*# sourceMappingURL=main.css.map */
