.header {
	position: fixed;
	z-index: 10;
	background: $color-white;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
	width: 100%;
	&__container {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: $header-height;
	}
	&__logo {
		color: $color-red;
		font-size: 2em;
		font-weight: bold;
		font-family: -apple-system-headline, BlinkMacSystemFont, Helvetica, sans-serif;
		span {
			color: $color-red;
		}
		span:first-child {
			color: $color-green;
		}
	}
	&__promo {
		position: absolute;
		right: 5em;
		a {
			font-style: italic;
			font-weight: 400;
			border-bottom: 1px dashed $color-black;
		}
		@media screen and (max-width: $break-mid) {
			display: none;
		}
	}
}
