.header {
	position: fixed;
	z-index: 10;
	background: $color-white;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
	width: 100%;
	&__container {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: $header-height;
	}
	&__logo {
		color: $color-red;
		font-size: 2em;
		font-weight: bold;
		font-family: -apple-system-headline, BlinkMacSystemFont, Helvetica, sans-serif;
		span {
			color: $color-red;
		}
		span:first-child {
			color: $color-green;
		}
	}
	&__promo {
		position: absolute;
		right: 5em;
		a {
			font-style: italic;
			font-weight: 400;
			border-bottom: 1px dashed $color-black;
		}
		@media screen and (max-width: $break-mid) {
			display: none;
		}
	}
}

.hero {
	padding-top: $header-height;
	background: $color-grey;
	display: flex;
	justify-content: center;
	overflow: hidden;
	&__container {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		max-width: $max-width;
		padding: 6em 2em;
		> div {
			@media screen and (min-width: $break-mid) {
				margin: 0 2em;
				&:first-child {
					margin-left: 0;
				}
				&:last-child {
					margin-right: 0;
				}
			}
			@media screen and (max-width: $break-large) {
				flex: 1;
			}
			@media screen and (max-width: $break-mid) {
				flex-basis: 100%;
				margin: 0.5em 0;
			}
		}
		@media screen and (max-width: $break-large) {
			padding: 4em 2em;
		}
		@media screen and (max-width: $break-mid) {
			padding: 2em;
		}
	}
	&__video {
		flex: 65;
		position: relative;
		height: auto;
		&__wrapper {
			// https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php
			position: relative;
			padding-bottom: 56.25%;
			padding-top: 25px;
			height: 0;
			iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
	}
	&__text {
		flex: 35;
		h1 {
			font-size: 2em;
		}
		p {
			font-size: 1em;
			line-height: 1.6;
		}
		@media screen and (max-width: $break-large) {
			p {
				font-size: 1em;
			}
		}
		@media screen and (max-width: $break-small) {
			h1 {
				font-size: 1.5em;
			}
		}
	}
}

.peppers {
	background: $color-white;
	box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.1);
	&__container {
		max-width: $max-width * 0.9;
		padding: 6em 2em;
		margin: 0 auto;
		@media screen and (max-width: $break-large) {
			padding: 4em 2em;
		}
		@media screen and (max-width: $break-mid) {
			padding: 0 2em;
		}
	}
	&__title {
		h1 {
			display: inline-block;
			font-family: -apple-system-headline, BlinkMacSystemFont, Helvetica, sans-serif;
			font-size: 3em;
		}
	}
	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		padding: 0 2em;
		background: $color-green;
		@media screen and (max-width: $break-mid) {
			padding: 0;
		}
	}
	&__item {
		display: flex;
	    flex-direction: column;
	    justify-content: center;
		align-items: center;
		background: $color-red;
		font-family: monospace;
		@media screen and (min-width: $break-small) {
			margin: 0 2em;
			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				margin-right: 0;
			}
		}
		@media screen and (max-width: $break-small) {
			flex-basis: 100%;
			margin: 0.5em 0;
		}
		span {
			display: block;
		}
		&__name {
			font-weight: bold;
		}
		&__price {

		}
	}
}
