
// colors
$color-bg: #EFEFEF;
$color-fg: #272727;
$color-red: #EF4F46;

// fonts
$font-mono: 'Inconsolata', ;
$font-term: 'VT323', ;
$weight-normal: 400;
$weight-bold: 700;

// dimensions
$nav-width: 800px;
