
// colors
$color-white: #FFFFFF;
$color-grey: #EFEFEF;
$color-black: #272727;
$color-red: #EF4F46;
$color-term: #00FF00;

// fonts
$font-mono: 'Inconsolata', ;
$font-term: 'VT323', ;
$weight-normal: 400;
$weight-bold: 700;

// dimensions
$page-width: 800px;
