@import "partials/reset";
@import "partials/config";

*, *:before, *:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
body {
    color: $color-fg;
    background: $color-bg;
    font-size: 100%;
    font-family: $font-mono;
    font-weight: $weight-normal;
}

.wrapper {

}

.navbar {
    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        list-style: none;
        align-items: baseline;
        max-width: $nav-width;
        margin: 2em auto;
    }
    &__logo {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        list-style: none;
        align-items: center;
        svg {
            fill: $color-red;
            width: 2em;
            margin-right: 1em;
        }
    }
    &__name {
        color: $color-fg;
        font-size: 2em;
        font-weight: $weight-bold;
    }
    &__links {
        a {
            display: inline;
            color: $color-fg;
            font-size: 1.2em;
            margin: auto 0.4em;
        }
    }
}
