@import "partials/normalize";
@import "partials/config";

*, *:before, *:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
body {
    color: $color-black;
    background: $color-white;
    font-size: 100%;
    font-family: $font-mono;
    font-weight: $weight-normal;
}

.wrapper {

}

.navbar {
    padding: 3em 0;
    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        list-style: none;
        align-items: baseline;
        max-width: $page-width;
        margin: auto;
    }
    &__logo {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        list-style: none;
        align-items: center;
        svg {
            fill: $color-red;
            width: 2em;
            margin-right: 1em;
        }
        h1 {
            color: $color-black;
            font-size: 2em;
            font-weight: $weight-bold;
        }
    }
    &__links {
        a {
            color: $color-black;
            font-size: 1.2em;
            margin: 0 0.4em;
        }
    }
}

.jumbotron {
    padding-bottom: 3em;
    &__container {
        max-width: $page-width;
        margin: auto;
    }

}
