@import "partials/normalize";
@import "partials/config";

body {
	background: $color-grey;
	color: $color-black;
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
h1, h2 {
	margin: 0;
}
a {
	text-decoration: none;
}

.wrapper {
	max-width: 600px;
	margin: 100px auto;
}

.header {
	height: 50px;
	&__name {
		float: left;
		font-family: 'Playfair Display', serif;
		.green {
			color: green;
			padding-right: 4px;
		}
		.red {
			color: $color-red;
		}
	}
	&__links {
		float: right;
		li {
			display: inline;   
			padding-left: 12px;
			a {
				color: $color-black;
			}
		}
	}
}

.main {
	margin: 16px 10px;
	padding: 10px;
	background: $color-white;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	.quote {
		margin: 10px;
		padding: 10px;
		&:before {

		}
		&__text {
			margin: 0;
			padding: 0;
		}
		&__person {

		}
	}
}

.footer {
	text-align: center;
	&__logo {
		height: 36px;
		width: auto;
		fill: darken($color-grey, 10);
		transition: fill 300ms ease;
		&:hover {
			fill: $color-red;
			transition: fill 300ms ease;
		}
	}
}