@import "partials/normalize";
@import "partials/config";

body {
	background: $color-grey;
	color: $color-black;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
h1, h2 {
	margin: 0;
}
a {
	text-decoration: none;
}

.wrapper {
	max-width: $page-width;
	margin: 69px auto;
	padding: 0 20px;
	@media screen and (max-width: $break-mobile) {
		margin: 20px 0;
		padding: 0 15px;
	}
}

.header {
	height: 50px;
	&__name {
		float: left;
		span {
			font-size: 36px;
			font-weight: 700;
			@media only screen and (max-width: $break-mobile) and (min-width: 300px) {
				font-size: 48px;
			}
		}
		.green {
			color: green;
			padding-right: 2px;
		}
		.red {
			color: $color-red;
		}
	}
	&__links {
		float: right;
		li {
			display: inline;   
			padding-left: 12px;
			a {
				font-size: 16px;
				color: $color-black;
			}
		}
	}
	@media screen and (max-width: $break-mobile) {
		> * {
			float: none;
		}
		&__links {
			padding: 0;
			margin: 8px 4px;
			li {
				padding-left: 0;
				padding-right: 6px;
			}
		}
	}
}

.main {
	margin: 30px 20px;
	padding: 10px;
	background: $color-white;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	.mission {
		margin: 10px;
		&__title {
			font-size: 20px;
			margin-bottom: 5px;
		}
		&__statement {
			margin: 0;
		}
	}
	.quote {
		position: relative;
		margin: 30px 20px;
		padding: 25px 10px 10px 10px;
		border-left: 4px solid darken($color-grey, 10);
		quotes: "\201C""\201D""\2018""\2019";
		&:before {
			content: open-quote;
			position: absolute;
			top: 0px;
			left: 5px;
			font-size: 30px;
			font-weight: 700;
			color: darken($color-grey, 20);
		}
		&__text {
			margin: 0;
			margin-bottom: 5px;
			font-size: 22px;
		}
		&__person {
			margin-left: 5px;
			font-size: 16px;
			font-style: italic;
		}
	}
	@media screen and (max-width: $break-mobile) {
		margin: 50px 0;
		padding: 3px;
	}
}

.footer {
	text-align: center;
	margin: 20px 0;
	&__logo {
		height: 36px;
		width: auto;
		fill: darken($color-grey, 10);
		transition: fill 300ms ease;
		&:hover {
			fill: $color-red;
			transition: fill 300ms ease;
		}
	}
}