@import "partials/normalize";
@import "partials/config";

body {
	background: $color-grey;
	color: $color-black;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
h1, h2 {
	margin: 0;
}
a {
	text-decoration: none;
}

.wrapper {
	max-width: $page-width;
	margin: 100px auto;
	@media screen and (max-width: $break-mobile) {
		margin: 24px 0;
	}
}

.header {
	height: 50px;
	margin: 0 30px;
	&__name {
		float: left;
		font-family: 'Playfair Display', serif;
		.green {
			color: green;
			padding-right: 4px;
		}
		.red {
			color: $color-red;
		}
	}
	&__links {
		float: right;
		li {
			display: inline;   
			padding-left: 12px;
			a {
				color: $color-black;
			}
		}
	}
	@media screen and (max-width: $break-mobile) {
		> * {
			float: none;
			padding-left: 12px;
		}
		&__links {
			margin: 0 4px;
			padding: 0;
			li {
				padding-left: 0;
				padding-right: 6px;
			}
		}
	}
}

.main {
	margin: 30px 40px;
	padding: 10px;
	background: $color-white;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	.mission {
		margin: 10px;
		&__title {
			font-size: 20px;
			margin-bottom: 5px;
		}
		&__statement {
			margin: 0;
		}
	}
	.quote {
		margin: 30px 10px;
		padding: 10px;
		border-left: 4px solid darken($color-grey, 10);
		&:before {

		}
		&__text {
			margin: 0;
		}
		&__person {

		}
	}
}

.footer {
	text-align: center;
	&__logo {
		height: 36px;
		width: auto;
		fill: darken($color-grey, 10);
		transition: fill 300ms ease;
		&:hover {
			fill: $color-red;
			transition: fill 300ms ease;
		}
	}
}